body {
    font-family: "Modenine", monospace;
    /* background-size: fill;
background-repeat: repeat; */

    
    background-color: #141316;
}
body
{
    /* background-image: url(img/123.gif); */
color: #fff;
    overflow: hidden;

    

 }
 html{
    width: 0px;
    height: 0px;
 }
 .bgimage{
    width: 100%;
    height: auto;
    max-height: 100%;

 }
 video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);        
}
 .main{
    max-height: 520px;
    width: 90%;
    max-width: 520px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border: 5px solid;
    border-radius: 60px;
    border-color: #401F90;
    -webkit-box-shadow: 0 0 10px #401F90;
    -moz-box-shadow: 0 0 10px #401F90;
    box-shadow: 0 0 70px #401F90;
    background: rgba(0, 0, 0, 0.363);
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
        

}
 @media (max-width: 540px) {
    .bgimage{
    z-index: -2;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 135%;
    min-height: 110%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    overflow: hidden;

 }
.main{
    width: 90%;
    max-width: 350px;
    max-height: 520px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border: 5px solid;
    border-radius: 60px;
    border-color: #401F90;
    -webkit-box-shadow: 0 0 10px #401F90;
    -moz-box-shadow: 0 0 10px #401F90;
    box-shadow: 0 0 70px #401F90;
    background: rgba(0, 0, 0, 0.363);
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;

}

}

.main1{
    width: 90%;
    max-width: 500px;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
    border: 4px solid;
    border-radius: 10px; 
    border-color: #000000 !important;
}
h1{
    font-family: "Modenine", monospace;

  }
  .css-button {
	font-family: Arial;
	color: #FFFFFF00;
	font-size: 16px;
	border-radius: 50px;
	border: 0px #ffffff00 solid;
	padding: 0px 0px;
	background-color: #ffffff00;
	text-shadow: 1px 1px 1px #528ecc00;
	box-shadow: inset 1px 1px 2px 0px #bbdaf700;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
}
a:link { 
    text-decoration: none;
    color:#FFFFFF;

}
#listennow{
    margin-top: 6%;
    text-align: center;
    margin-left: auto;
    margin-right:  auto;
    position: absolute;
    right: 75%;
}
.wakatime div{
    display: inline-block;

}
#wakatime{
    text-align: center;
    padding-bottom: 34px;
    
}
#waka-time{
    font-weight: bold;
}
a:visited{
    color:inherit;
    text-decoration: none;
  }
  
.woman {
    width: 30%;
    height: auto;
    display: block;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;

}



h1 {
    text-align: center;
}
p{
    text-align: center;
    font-family: "Modenine", monospace;

}

.hidden-if-no-js {
    display: none;
}





.player {
    height: 104px;
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    position: relative;
    top: -35px;
    margin-left: 1.5em;
}
  
.cover-container {
    max-width: 100px;
    flex: 1;
}
 
.player-info {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-grow: 1;
    width: calc(100% - 120px);
    float: left;
    margin-left: 20px;
    height: 100%;
    margin-top: 0px;
}
  

.player-cover {
    width: 80px;
    border: 2px solid #fff;
}

#cover {
    width: 100px;
    border: 2px solid #fff;
    display: inline-block;
}
  
.player-label {
    font-family: "Modenine", monospace;

  
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-label {
    font-family: "Modenine", monospace;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    opacity: 1;
    padding-bottom: 8px;
  }
  
.title-label {
    font-family: "Modenine", monospace;

    font-size: 15px;
    height: 20px;
    line-height: 20px;
}
  
.artist-label {
    font-family: "Modenine", monospace;

    font-size: 15px;
    height: 20px;
    line-height: 20px;
    padding-top: 4px;
    padding-bottom: 6px;
}
  
.album-label {
    font-family: "Modenine", monospace;

    font-size: 10px;
    height: 16px;
    line-height: 16px;
}
.source-label{
    font-family: "Modenine", monospace;
    margin-top: 500px;
}
figcaption{
    font-family: "Modenine", monospace;
    margin-bottom: 20px;
}

#socials-container {
    text-align: center;
    
    -webkit-filter: invert(1);
    filter: invert(0);

}
#socials-container1 {
    -webkit-filter: invert(1);
    filter: invert(1) !important;

}
#socials-container a {
    display: inline-block;
}

.icon,

.icon img {
    width: 50px;
    height: 50px;
    text-decoration: none;

}

.icon12 img {
    width: 50px;
    height: 50px;
    text-decoration: none;


}
.icon1 img {
    width: 40px;
    height: 40px;
    position: relative;

    bottom: 5px;
    text-decoration: none;
}

.icon {
    margin-left: 5px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.icon3 img {
    width: 50px;
    height: 40px;
    position: relative;

    bottom: 10px;
    text-decoration: none;
}

.icon3 {
    margin-left: 5px;
    margin-right: 0;
    margin-top: 3px;
    margin-bottom: 0;
}
.icon1 {

    margin-left: 5px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0px;
}
.icon12 {

    margin-left: 5px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0px;
}
audio::-webkit-media-controls-panel{
    background-color:black;
}
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-timeline-container,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-volume-slider{
    color: white;
}
.icon21 img {
    width: 55px;
    height: 55px;
    text-decoration: none;

}

.icon21 {
    margin-left: 5px;
    margin-right: 0;
    margin-top: 10;
    margin-bottom: 0;
}
.twt :hover {
    filter: invert(1);
}



.icons {
    cursor: default;
    padding: 0;
    letter-spacing: 0;
}

.icons {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    position: relative;
    z-index: 1;
}

.icons a {
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.icons  a  {
    display: block;
    position: relative;
    -moz-transition: fill 0.25s ease;
    -webkit-transition: fill 0.25s ease;
    -ms-transition: fill 0.25s ease;
    transition: fill 0.25s ease;
}

.icons    svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    -moz-transition: fill 0.25s ease, stroke 0.25s ease;
    -webkit-transition: fill 0.25s ease, stroke 0.25s ease;
    -ms-transition: fill 0.25s ease, stroke 0.25s ease;
    transition: fill 0.25s ease, stroke 0.25s ease;
}

.icons  a .label {
    display: none;
}

#socials-container {
    font-size: 1.5em;
    width: calc(100% + 1rem);
    margin-left: -0.5rem;
}

#socials-container  {
    margin: 0.5rem;
}

#socials-container  a {
    border-radius: 100%;
    width: 2em;
    height: 2em;
}

#socials-container  a svg {
    width: 100%;
    height: 100%;
}

#socials-container a svg {
    fill: #000000;
}


ol,ul {
    list-style: none;
}
#socials-container .n01 svg {
    fill: #FFFFFF;
}



#socials-container .n01:hover svg {
    fill: #3D4352 !important;
}

#socials-container .n02 svg {
    fill: #FFFFFF;
}



#socials-container .n02:hover svg {
    fill: #1DB954 !important;
}

#socials-container .n03 svg {
    fill: #FFFFFF;
}


#socials-container .n03:hover svg {
    fill: #ff9900 !important;
}

#socials-container .n04 svg {
    fill: #FFFFFF;
}



#socials-container .n04:hover svg {
    fill: #00b7ff !important;
}
#socials-container {
    width: calc(100% + 1rem);
    margin-left: -0.5rem;
}

#socials-container  {
    margin: 0.5rem;
}

#socials-container .n05 svg {
    fill: #FFFFFF;
    position: relative;
left: -5px ;

}



#socials-container .n05:hover svg {
    fill: #8341d8 !important;
}
